/*css reset*/

body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

button {
    text-decoration: none;
    border: none;
}

button:focus {
    outline: none;
}


/** main */

.main-bg {
    height: 100vh;
    width: 100%;
    background-image: url('assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-overlay {
    height: 100vh;
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
}

.main {
    width: 50%;
    max-width: 960px;
    height: 100%;
    display: flex;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main *{
    margin: 20px 0;
}

.main div {
    display: flex;
    flex-direction: row;
}

.main #excuse-text {
    min-width: 70%;
    max-width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    background: white;
    font-size: 1.7em;
}

.btn {
    font-size: 1em;
    box-shadow: 0px 12px 33px -7px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 12px 33px -7px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 12px 33px -7px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: box-shadow 0.25s;
    transition: background-color 0.5s ease;
    padding: 2% 4%;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
}

.btn:active {
    background-color:#afafaf;
    box-shadow: 0px 12px 33px -20px rgba(0,0,0,0.25);
}


